name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Install OpenMPI and gfortran
      run: sudo apt-get install gfortran libopenmpi-dev
    - name: Compile
      run: cd src && make
